extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/landing.css')
block content
  section#welcome
    div "Welcome to the most amazing chat system on the universe."
    a#startchat(type = 'button', class = 'btn', href = '/chatroom') Start now
